@charset "UTF-8";
#search-view .search_bar {
  background: #f4f4f4;
  padding: 10px;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: center; }
  #search-view .search_bar .search_bar_cont {
    position: relative;
    border-radius: 3px;
    background: #fff;
    padding-top: 8px;
    padding-right: 12px;
    padding-bottom: 8px;
    padding-left: 35px;
    -webkit-box-flex: 1; }
    #search-view .search_bar .search_bar_cont .search_input {
      height: 20px;
      line-height: 20px;
      width: 100%;
      color: rgba(0, 0, 0, 0.3);
      border: 0;
      -webkit-appearance: textfield;
      font-size: 14px;
      outline: none; }
      #search-view .search_bar .search_bar_cont .search_input:-webkit-autofill {
        color: #ccc; }
      #search-view .search_bar .search_bar_cont .search_input:focus {
        -webkit-box-shadow: 0 0 0 1000px white inset; }
    #search-view .search_bar .search_bar_cont .icon_search {
      position: absolute;
      top: 9px;
      left: 10px;
      width: 18px;
      height: 18px;
      background-image: url(../imgs/search.png);
      background-repeat: no-repeat;
      background-size: cover;
      text-indent: -999px; }
    #search-view .search_bar .search_bar_cont .icon_delete {
      display: none;
      position: absolute;
      top: 9px;
      right: 12px;
      width: 18px;
      height: 18px;
      background: #b1b1b1;
      text-indent: -9999px;
      border-radius: 50%; }
      #search-view .search_bar .search_bar_cont .icon_delete:after, #search-view .search_bar .search_bar_cont .icon_delete:before {
        content: "";
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        border-radius: 8px;
        background: #fff;
        -webkit-transform: rotate(45deg); }
      #search-view .search_bar .search_bar_cont .icon_delete:before {
        width: 10px;
        height: 2px;
        margin-left: -5px;
        margin-top: -1px; }
      #search-view .search_bar .search_bar_cont .icon_delete:after {
        width: 2px;
        height: 10px;
        margin-left: -1px;
        margin-top: -5px; }
  #search-view .search_bar .search_bar_tip_text {
    display: none;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 14px;
    height: 36px;
    line-height: 36px; }

#search-view .search_result {
  background: #fff;
  padding: 15px 15px 10px 15px; }
  #search-view .search_result .result_tit {
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 8px; }
  #search-view .search_result .result_tags {
    font-size: 0; }
  #search-view .search_result .tag_s {
    display: inline-block;
    font-size: 14px;
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    color: #000;
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 99px;
    word-break: keep-all;
    margin-bottom: 10px;
    margin-right: 14px; }
  #search-view .search_result .tag_hot {
    color: #fc4524;
    border-color: #fc4524; }

#search-view .search_result_song {
  background: #fff; }
  #search-view .search_result_song .search_content {
    position: relative;
    height: 55px;
    padding-left: 56px;
    overflow: hidden; }
    #search-view .search_result_song .search_content .media {
      position: absolute;
      top: 8px;
      left: 8px;
      width: 40px;
      height: 40px; }
      #search-view .search_result_song .search_content .media img {
        display: block;
        width: 100%; }
    #search-view .search_result_song .search_content .icon {
      position: absolute;
      top: 18px;
      left: 18px;
      width: 22px;
      height: 20px;
      background-position: 0 0;
      background-image: url(../imgs/search_sprite.png);
      background-repeat: no-repeat;
      background-size: 22px 30px; }
    #search-view .search_result_song .search_content .main_tit {
      margin: 10px 0 2px;
      line-height: 18px;
      font-size: 16px;
      font-weight: normal;
      color: #000; }
    #search-view .search_result_song .search_content .sub_tit {
      color: #808080; }
    #search-view .search_result_song .search_content:after {
      content: "";
      position: absolute;
      height: 1px;
      top: 0;
      left: 0;
      right: 0;
      background: #e5e5e5; }

#rank-view .toplist-wrap {
  margin: 10px; }
  #rank-view .toplist-wrap .topic-item {
    margin-bottom: 10px;
    overflow: hidden; }
    #rank-view .toplist-wrap .topic-item .topic-main {
      display: -webkit-box;
      background: #fff; }
      #rank-view .toplist-wrap .topic-item .topic-main .topic-media {
        position: relative;
        width: 100px;
        height: 100px;
        display: block; }
        #rank-view .toplist-wrap .topic-item .topic-main .topic-media:after {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 100px;
          z-index: 1;
          background-image: url(https://y.gtimg.cn/mediastyle/mobile/yqq_v5/img/shadow_rp_b.png?max_age=19830212&d=20151105145423);
          background-size: 1px 117px;
          background-repeat: repeat-x; }
        #rank-view .toplist-wrap .topic-item .topic-main .topic-media img {
          display: block;
          width: 100px;
          height: 100px;
          color: #ccc; }
        #rank-view .toplist-wrap .topic-item .topic-main .topic-media .listen-count {
          position: absolute;
          display: block;
          left: 5px;
          bottom: 7px;
          line-height: 12px;
          color: #fff;
          opacity: .6;
          font-size: 9px;
          z-index: 10; }
          #rank-view .toplist-wrap .topic-item .topic-main .topic-media .listen-count .icon-listen {
            display: block;
            float: left;
            width: 10px;
            height: 10px;
            background-position: 0 -50px;
            margin-right: 3px;
            background-image: url(https://y.gtimg.cn/mediastyle/mobile/yqq_v5/img/list_sprite.png?max_age=19830212&d=20151105145423);
            background-repeat: no-repeat;
            background-size: 24px 60px;
            z-index: 10; }
      #rank-view .toplist-wrap .topic-item .topic-main .topic-info {
        position: relative;
        -webkit-box-flex: 1;
        display: -webkit-box;
        -webkit-box-align: center;
        -webkit-box-pack: center; }
        #rank-view .toplist-wrap .topic-item .topic-main .topic-info .topic-cont {
          -webkit-box-flex: 1;
          margin: 0 10px 0 15px; }
          #rank-view .toplist-wrap .topic-item .topic-main .topic-info .topic-cont .topic-tit {
            font-size: 16px;
            color: #000;
            font-weight: normal;
            margin-bottom: 5px; }
          #rank-view .toplist-wrap .topic-item .topic-main .topic-info .topic-cont > p {
            font-size: 14px;
            color: rgba(0, 0, 0, 0.5);
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            margin-right: 3px; }
            #rank-view .toplist-wrap .topic-item .topic-main .topic-info .topic-cont > p .text-name {
              color: #000;
              margin-left: 8px;
              margin-right: 5px; }
        #rank-view .toplist-wrap .topic-item .topic-main .topic-info .topic-arrow {
          position: absolute;
          right: 10px;
          top: 50%;
          margin-top: -4px;
          width: 6px;
          height: 6px;
          border-right: 1px solid #b2b2b2;
          border-bottom: 1px solid #b2b2b2;
          transform: rotate(-45deg); }

#rec-view .radios, #rec-view .playlists {
  margin: 14px 10px 10px; }
  #rec-view .radios:after, #rec-view .playlists:after {
    content: "";
    display: block;
    clear: both; }
  #rec-view .radios .title, #rec-view .playlists .title {
    color: #000;
    font-size: 16px;
    margin-bottom: 11px;
    line-height: 24px; }
  #rec-view .radios .list, #rec-view .playlists .list {
    margin-right: -8px; }
    #rec-view .radios .list .list-item, #rec-view .playlists .list .list-item {
      float: left;
      width: 50%;
      padding-right: 8px;
      margin-bottom: 10px;
      overflow: hidden;
      font-size: 14px; }
      #rec-view .radios .list .list-item .list-main, #rec-view .playlists .list .list-item .list-main {
        display: block;
        background: #fff; }
      #rec-view .radios .list .list-item .list-media, #rec-view .playlists .list .list-item .list-media {
        position: relative;
        margin-bottom: 5px; }
        #rec-view .radios .list .list-item .list-media:before, #rec-view .playlists .list .list-item .list-media:before {
          content: "";
          display: block;
          padding-top: 100%;
          /*这个不加没加载图片时候父容器会塌陷，高度为0，padding-top撑高度*/ }
      #rec-view .radios .list .list-item img, #rec-view .playlists .list .list-item img {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        z-index: 1; }
      #rec-view .radios .list .list-item .icon, #rec-view .playlists .list .list-item .icon {
        background-image: url(https://y.gtimg.cn/mediastyle/mobile/yqq_v5/img/list_sprite.png?max_age=19830212&d=20151105145423);
        background-repeat: no-repeat;
        background-size: 24px 60px; }
      #rec-view .radios .list .list-item .list-info, #rec-view .playlists .list .list-item .list-info {
        padding: 0 7px 5px;
        color: #000; }
        #rec-view .radios .list .list-item .list-info > h3, #rec-view .playlists .list .list-item .list-info > h3 {
          height: 36px;
          font-size: 14px;
          line-height: 18px;
          white-space: normal;
          word-wrap: break-word; }
      #rec-view .radios .list .list-item .icon-play, #rec-view .playlists .list .list-item .icon-play {
        position: absolute;
        height: 24px;
        bottom: 5px;
        right: 5px;
        width: 24px;
        z-index: 2;
        background-position: 0 0; }

.mod-footer {
  padding: 15px 0;
  margin-bottom: 15px; }
  .mod-footer .version-tab {
    text-align: center;
    margin-bottom: 16px; }
    .mod-footer .version-tab > a {
      position: relative;
      display: inline-block;
      padding: 0 15px;
      font-size: 14px;
      height: 14px;
      line-height: 14px;
      color: #000; }
  .mod-footer .footer-logo {
    display: block;
    width: 82px;
    height: 24px;
    margin: 0 auto 10px;
    background-image: url(https://y.gtimg.cn/mediastyle/mobile/yqq_v5/img/logo_footer.png?max_age=19830212&d=20151105145423);
    background-repeat: no-repeat;
    background-size: cover;
    text-indent: -9999px; }
  .mod-footer .copyright {
    font-size: 10px;
    text-align: center;
    color: rgba(0, 0, 0, 0.5); }
  .mod-footer .list-more {
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-bottom: 15px; }
    .mod-footer .list-more > a {
      display: inline-block;
      padding: 0 10px;
      font-size: 14px;
      color: rgba(0, 0, 0, 0.6); }

* {
  box-sizing: border-box; }

html, body, ul, li,
div, span, a, p, b, img, i,
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

h1, h2, h3 {
  font-weight: normal; }

body {
  font: 12px/1.5 "hiragino sans gb",arial; }

#header {
  background: #31c27c;
  height: 44px;
  display: flex;
  align-items: center; }
  #header #logo {
    height: 25px;
    margin-left: 10px; }
  #header .download {
    position: absolute;
    display: inline-block;
    right: 10px;
    top: 8px;
    height: 28px;
    padding: 0 12px;
    line-height: 28px;
    border-radius: 99px;
    font-size: 14px;
    background: #149c5a;
    color: #fff; }

#rec-view .qq-slider {
  position: relative;
  width: 100%;
  height: inherit;
  overflow: hidden; }
  #rec-view .qq-slider .qq-slider-wrap {
    position: relative; }
  #rec-view .qq-slider .qq-slider-item {
    transition-duration: 400ms;
    float: left; }
    #rec-view .qq-slider .qq-slider-item > a {
      display: block; }
      #rec-view .qq-slider .qq-slider-item > a img {
        width: 100%;
        height: inherit;
        vertical-align: middle; }
  #rec-view .qq-slider .qq-slider-dots {
    position: absolute;
    bottom: 6px;
    left: 0;
    right: 0;
    padding: 0 6px;
    text-align: center; }
    #rec-view .qq-slider .qq-slider-dots > span {
      display: inline-block;
      margin: 0 4px;
      width: 6px;
      height: 6px;
      border-radius: 3px;
      background: rgba(144, 144, 144, 0.8); }
    #rec-view .qq-slider .qq-slider-dots .qq-slider-dots-active {
      background: #fff; }

.navbar {
  background: #fff; }
  .navbar .nav-list {
    display: flex;
    align-items: center; }
    .navbar .nav-list .nav-item {
      flex: 1;
      cursor: pointer;
      position: relative;
      text-align: center;
      color: rgba(0, 0, 0, 0.6);
      height: 40px;
      line-height: 40px;
      font-size: 16px; }
      .navbar .nav-list .nav-item.active {
        color: #31c27c; }
      .navbar .nav-list .nav-item.active:after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 2px;
        background: #31c27c; }

.hide {
  display: none; }

body {
  background: #f4f4f4; }
