#header{
    background: $header-background;
    height: $header-height;
    display: flex;
    align-items: center;
    #logo{
        height: $logo-height;
        margin-left: 10px;
    }
    .player{
        position: absolute;
        display: inline-block;
        right: 10px;
        top: 8px;
        padding: 0 19px;
        line-height: 28px;
        border-radius: 99px;
        font-size: 14px;
        background: #149c5a;
        color: #fff;
        cursor: pointer;
    }
}
